/*Landing page start*/

.trans_btn{
  position:fixed;
  bottom:10px;
}
.trans_btn button{
  margin-left:10px;
  font-size:15px;
  border-radius:20px;
  padding:5px 20px;
  border:none;
  background-color: rgba(0, 10, 227, 0.5);
  color:white;
}
.trans_btn button:disabled{
  border-radius:20px;
  padding:5px 20px;
  border:none;
  background-color: rgb(100,100,100);
  color:white;
}
label{
  margin-top:10px;
}
#transaction_form{
  background-color: whitesmoke;
  margin-top:3%;
  margin-left:50px;
  margin-right: 50px;
  padding-top:40px;
  border-radius: 5px;
  color:rgba(0,10,227,0.5);
  font-weight: bold;
  box-shadow: 0px 3px 6px #ccc;
  padding-bottom:2px;
}

label{
  display:inline-block;
  margin-left:10%;
  margin-top:6px ;
  margin-bottom:18px;
  ;

}
.one-line-container{
  margin-left:0px;
  display:flex;
  justify-content: space-between;
}
input{
  border-radius :20px;
  border:1px solid rgba(0,10,227,0.5);
  padding:4px 8px;
}
#transaction_form #trans_save_btn_css{
  display:block;
  width:100px;
  border:none;
  background-color: rgba(0,10,227,0.5);
  padding:3px 7px;
  margin:10px auto 30px auto;
  color:white;
  font-size:15px;
  margin-bottom:20px;

}
#seller{
  width:50%;
  margin-left:50px;
}
#buyer{
  width:50%;
  margin-left:50px;
}
h3{
  margin-top:8px;
  margin-right:40px;
}
.one-line-container label{
  margin-left:35px;

}
label label{
  margin-left:10px;
  margin-bottom:0px;
}
